<?xml version="1.0"?>
<!DOCTYPE artifactId PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<artifactId artifactId = "Checker">
    <property artifactId="charset" value="UTF-8"/>

    <property artifactId="severity" value="error"/>

    <property artifactId="fileExtensions" value="java, properties, xml"/>
    <!-- Checks for whitespace                               -->
    <!-- See http://checkstyle.sf.net/config_whitespace.html -->
    <artifactId artifactId="FileTabCharacter">
        <property artifactId="eachLine" value="true"/>
    </artifactId>

    <artifactId artifactId="TreeWalker">
        <artifactId artifactId="OuterTypeFilename"/>
        <artifactId artifactId="IllegalTokenText">
            <property artifactId="tokens" value="STRING_LITERAL, CHAR_LITERAL"/>
            <property artifactId="format"
                      value="\\u00(09|0(a|A)|0(c|C)|0(d|D)|22|27|5(C|c))|\\(0(10|11|12|14|15|42|47)|134)"/>
            <property artifactId="message"
                      value="Consider using special escape sequence instead of octal value or Unicode escaped value."/>
        </artifactId>
        <artifactId artifactId="AvoidEscapedUnicodeCharacters">
            <property artifactId="allowEscapesForControlCharacters" value="true"/>
            <property artifactId="allowByTailComment" value="true"/>
            <property artifactId="allowNonPrintableEscapes" value="true"/>
        </artifactId>
        <artifactId artifactId="LineLength">
            <property artifactId="max" value="120"/>
            <property artifactId="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
        </artifactId>
        <artifactId artifactId="AvoidStarImport"/>
        <artifactId artifactId="OneTopLevelClass"/>
        <artifactId artifactId="NoLineWrap"/>
        <artifactId artifactId="EmptyBlock">
            <property artifactId="option" value="TEXT"/>
            <property artifactId="tokens"
                      value="LITERAL_TRY, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_SWITCH"/>
        </artifactId>
        <artifactId artifactId="NeedBraces"/>
        <artifactId artifactId="LeftCurly"/>
        <artifactId artifactId="RightCurly">
            <property artifactId="id" value="RightCurlySame"/>
            <property artifactId="tokens"
                      value="LITERAL_TRY, LITERAL_CATCH, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE,
                    LITERAL_DO"/>
        </artifactId>
        <artifactId artifactId="RightCurly">
            <property artifactId="id" value="RightCurlyAlone"/>
            <property artifactId="option" value="alone"/>
            <property artifactId="tokens"
                      value="CLASS_DEF, METHOD_DEF, CTOR_DEF, LITERAL_FOR, LITERAL_WHILE, STATIC_INIT,
                    INSTANCE_INIT"/>
        </artifactId>
        <artifactId artifactId="WhitespaceAround">
            <property artifactId="allowEmptyConstructors" value="true"/>
            <property artifactId="allowEmptyMethods" value="true"/>
            <property artifactId="allowEmptyTypes" value="true"/>
            <property artifactId="allowEmptyLoops" value="true"/>
            <message key="ws.notFollowed"
                     value="WhitespaceAround: ''{0}'' is not followed by whitespace. Empty blocks may only be represented as '{}' when not part of a multi-block statement (4.1.3)"/>
            <message key="ws.notPreceded"
                     value="WhitespaceAround: ''{0}'' is not preceded with whitespace."/>
        </artifactId>
        <artifactId artifactId="OneStatementPerLine"/>
        <artifactId artifactId="MultipleVariableDeclarations"/>
        <artifactId artifactId="ArrayTypeStyle"/>
        <artifactId artifactId="MissingSwitchDefault"/>
        <artifactId artifactId="FallThrough"/>
        <artifactId artifactId="UpperEll"/>
        <artifactId artifactId="ModifierOrder"/>
        <artifactId artifactId="EmptyLineSeparator">
            <property artifactId="allowNoEmptyLineBetweenFields" value="true"/>
        </artifactId>
        <artifactId artifactId="SeparatorWrap">
            <property artifactId="id" value="SeparatorWrapDot"/>
            <property artifactId="tokens" value="DOT"/>
            <property artifactId="option" value="nl"/>
        </artifactId>
        <artifactId artifactId="SeparatorWrap">
            <property artifactId="id" value="SeparatorWrapComma"/>
            <property artifactId="tokens" value="COMMA"/>
            <property artifactId="option" value="EOL"/>
        </artifactId>
        <artifactId artifactId="SeparatorWrap">
            <!-- ELLIPSIS is EOL until https://github.com/google/styleguide/issues/258 -->
            <property artifactId="id" value="SeparatorWrapEllipsis"/>
            <property artifactId="tokens" value="ELLIPSIS"/>
            <property artifactId="option" value="EOL"/>
        </artifactId>
        <artifactId artifactId="SeparatorWrap">
            <!-- ARRAY_DECLARATOR is EOL until https://github.com/google/styleguide/issues/259 -->
            <property artifactId="id" value="SeparatorWrapArrayDeclarator"/>
            <property artifactId="tokens" value="ARRAY_DECLARATOR"/>
            <property artifactId="option" value="EOL"/>
        </artifactId>
        <artifactId artifactId="SeparatorWrap">
            <property artifactId="id" value="SeparatorWrapMethodRef"/>
            <property artifactId="tokens" value="METHOD_REF"/>
            <property artifactId="option" value="nl"/>
        </artifactId>
        <artifactId artifactId="PackageName">
            <property artifactId="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
            <message key="artifactId.invalidPattern"
                     value="Package artifactId ''{0}'' must match pattern ''{1}''."/>
        </artifactId>
        <artifactId artifactId="TypeName">
            <message key="artifactId.invalidPattern"
                     value="Type artifactId ''{0}'' must match pattern ''{1}''."/>
        </artifactId>
        <artifactId artifactId="MemberName">
            <property artifactId="format" value="^[a-z][a-z0-9][a-zA-Z0-9]*$"/>
            <message key="artifactId.invalidPattern"
                     value="Member artifactId ''{0}'' must match pattern ''{1}''."/>
        </artifactId>
        <artifactId artifactId="ParameterName">
            <property artifactId="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
            <message key="artifactId.invalidPattern"
                     value="Parameter artifactId ''{0}'' must match pattern ''{1}''."/>
        </artifactId>
        <artifactId artifactId="LambdaParameterName">
            <property artifactId="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
            <message key="artifactId.invalidPattern"
                     value="Lambda parameter artifactId ''{0}'' must match pattern ''{1}''."/>
        </artifactId>
        <artifactId artifactId="CatchParameterName">
            <property artifactId="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
            <message key="artifactId.invalidPattern"
                     value="Catch parameter artifactId ''{0}'' must match pattern ''{1}''."/>
        </artifactId>
        <artifactId artifactId="LocalVariableName">
            <property artifactId="tokens" value="VARIABLE_DEF"/>
            <property artifactId="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
            <message key="artifactId.invalidPattern"
                     value="Local variable artifactId ''{0}'' must match pattern ''{1}''."/>
        </artifactId>
        <artifactId artifactId="ClassTypeParameterName">
            <property artifactId="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
            <message key="artifactId.invalidPattern"
                     value="Class type artifactId ''{0}'' must match pattern ''{1}''."/>
        </artifactId>
        <artifactId artifactId="MethodTypeParameterName">
            <property artifactId="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
            <message key="artifactId.invalidPattern"
                     value="Method type artifactId ''{0}'' must match pattern ''{1}''."/>
        </artifactId>
        <artifactId artifactId="InterfaceTypeParameterName">
            <property artifactId="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
            <message key="artifactId.invalidPattern"
                     value="Interface type artifactId ''{0}'' must match pattern ''{1}''."/>
        </artifactId>
        <artifactId artifactId="NoFinalizer"/>
        <artifactId artifactId="GenericWhitespace">
            <message key="ws.followed"
                     value="GenericWhitespace ''{0}'' is followed by whitespace."/>
            <message key="ws.preceded"
                     value="GenericWhitespace ''{0}'' is preceded with whitespace."/>
            <message key="ws.illegalFollow"
                     value="GenericWhitespace ''{0}'' should followed by whitespace."/>
            <message key="ws.notPreceded"
                     value="GenericWhitespace ''{0}'' is not preceded with whitespace."/>
        </artifactId>
        <artifactId artifactId="AbbreviationAsWordInName">
            <property artifactId="ignoreFinal" value="false"/>
            <property artifactId="allowedAbbreviationLength" value="1"/>
        </artifactId>
        <artifactId artifactId="OverloadMethodsDeclarationOrder"/>
        <artifactId artifactId="VariableDeclarationUsageDistance"/>
        <artifactId artifactId="MethodParamPad"/>
        <artifactId artifactId="NoWhitespaceBefore">
            <property artifactId="tokens"
                      value="COMMA, SEMI, POST_INC, POST_DEC, DOT, ELLIPSIS, METHOD_REF"/>
            <property artifactId="allowLineBreaks" value="true"/>
        </artifactId>
        <artifactId artifactId="ParenPad"/>
        <artifactId artifactId="OperatorWrap">
            <property artifactId="option" value="NL"/>
            <property artifactId="tokens"
                      value="BAND, BOR, BSR, BXOR, DIV, EQUAL, GE, GT, LAND, LE, LITERAL_INSTANCEOF, LOR,
                    LT, MINUS, MOD, NOT_EQUAL, PLUS, QUESTION, SL, SR, STAR, METHOD_REF "/>
        </artifactId>
        <artifactId artifactId="AnnotationLocation">
            <property artifactId="id" value="AnnotationLocationMostCases"/>
            <property artifactId="tokens"
                      value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF"/>
        </artifactId>
        <artifactId artifactId="AnnotationLocation">
            <property artifactId="id" value="AnnotationLocationVariables"/>
            <property artifactId="tokens" value="VARIABLE_DEF"/>
            <property artifactId="allowSamelineMultipleAnnotations" value="true"/>
        </artifactId>
        <artifactId artifactId="NonEmptyAtclauseDescription"/>
        <artifactId artifactId="JavadocTagContinuationIndentation"/>
        <artifactId artifactId="SummaryJavadoc">
            <property artifactId="forbiddenSummaryFragments"
                      value="^@return the *|^This method returns |^A [{]@code [a-zA-Z0-9]+[}]( is a )"/>
        </artifactId>
        <artifactId artifactId="JavadocParagraph"/>
        <artifactId artifactId="AtclauseOrder">
            <property artifactId="tagOrder" value="@param, @return, @throws, @deprecated"/>
            <property artifactId="target"
                      value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF, VARIABLE_DEF"/>
        </artifactId>
        <artifactId artifactId="JavadocMethod">
            <property artifactId="scope" value="public"/>
            <property artifactId="allowMissingParamTags" value="true"/>
            <property artifactId="allowMissingThrowsTags" value="true"/>
            <property artifactId="allowMissingReturnTag" value="true"/>
            <property artifactId="minLineCount" value="2"/>
            <property artifactId="allowedAnnotations" value="Override, Test"/>
            <property artifactId="allowThrowsTagsForSubclasses" value="true"/>
        </artifactId>
        <artifactId artifactId="MethodName">
            <property artifactId="format" value="^[a-z][a-z0-9][a-zA-Z0-9_]*$"/>
            <message key="artifactId.invalidPattern"
                     value="Method artifactId ''{0}'' must match pattern ''{1}''."/>
        </artifactId>
        <artifactId artifactId="SingleLineJavadoc">
            <property artifactId="ignoreInlineTags" value="false"/>
        </artifactId>
        <artifactId artifactId="EmptyCatchBlock">
            <property artifactId="exceptionVariableName" value="expected"/>
        </artifactId>
        <artifactId artifactId="CommentsIndentation"/>
    </artifactId>
</artifactId>